@using AntiqueBookstore.Domain.Entities
@using AntiqueBookstore.Resources
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using System.Globalization

@* @inject SignInManager<IdentityUser> SignInManager *@
@* @inject UserManager<IdentityUser> UserManager *@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IStringLocalizer<SharedResource> L

@{
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName; // "en" / "ru"
}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark @(lang == "ru" ? "fw-bold" : "")"
           asp-controller="Culture" asp-action="Set"
           asp-route-culture="ru-RU"
           asp-route-returnUrl="@returnUrl">RU</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark @(lang == "en" ? "fw-bold" : "")"
           asp-controller="Culture" asp-action="Set"
           asp-route-culture="en-US"
           asp-route-returnUrl="@returnUrl">EN</a>
    </li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@L["Auth_Hello"] [@User.Identity?.Name] !</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@L["Auth_Logout"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@L["Auth_Register"]</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@L["Auth_Login"]</a>
        @* <a class="nav-link text-dark" href="/Identity/Account/Login">Login (Hardcoded)</a> *@
    </li>
}
</ul>
